*{margin:0;padding:0;outline:0;}
body{font-size:18px;line-height:25px;font-family:arial;color:#444;}

.content{width:800px;margin:0 auto;background:#f0f0f0;}
.header, .footer{text-align:center;padding: 10px;background: #ddd;}
.header h2, .footer h2 {
	font-size: 35px;
}
.maincontnent{background:#fff;min-height:450px;margin:10px;padding:10px 20px;}
